<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name = "viewport" content = "user-scalable=no, width=device-width">
	<!-- Bootstrap CSS & custom CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" type= "text/css" href="{{ url_for("static", filename="style.css") }}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript>


	setInterval("my_function();",1000);

	function my_function(){
		$.getJSON('/SmartCoffee/_get_temp', {},
		function(data) {
			$("#currentTemp").text(data.temp);
			<!-- $("#commandP").text(data.commandP)  -->
			<!-- $("#commandI").text(data.commandI)  -->
			<!-- $("#commandD").text(data.commandD)  -->
		});
	return false;
};

</script>

<title>Smart Coffee </title>
</head>

<body>

	{% include 'sidenavigation.html' %}

	<div id="mainscreen" class="mainscreen">
		<form name="data"  method='POST'>

			<label for="customRange1" class="form-label">Example range</label>
			<output id="amount" name="amount" for="targetTemp">0</output>
			<input type="range" class="form-range" min="90" max="130"
			value="98" id="targetTemp" oninput="amount.value=targetTemp.value">
			<output id="amount" name="amount" for="targetTemp">98</output>

			<label for="currentTemp">Current temperature:</label>
			<p id=currentTemp>This is some text in a paragraph.</p>

			<label for="commandP">Command P:</label>
			<p id=commandP>This is some text in a paragraph.</p>

			<label for="commandI">Command I:</label>
			<p id=commandI>This is some text in a paragraph.</p>

			<label for="commandD">Command D:</label>
			<p id=commandD>This is some text in a paragraph.</p>

		</form>
	</div>


</body>


</html>
